{% embed 'partials/base.html.twig' %}

{% block content %}

<div class="grid has-gutter-xl">
	<div class="three-quarters">
		<h1>{{page.parent.title}}</h1>
	</div>
</div>

<div class="project-wrapper grid has-gutter-xl">
	<section class="three-quarters project-content">
		<h2>{{page.title}}</h2>

		<div class="grid-2 has-gutter-l">
			{% for p in page.collection %}
				<article>
					{% if p.template == 'photos'%}
					<div data-featherlight-gallery data-featherlight-filter="a" class="gallery">
						{% for image in p.media.images %}
							<div class="gallery-content">
								<a href="{{ image.url }}">
									<div>
										<img src="{{ image.url }}">
									</div>
									<span>> Voir les photos</span>
								</a>

								{{ p.content }}
							</div>
						{% endfor %}
					</div>
					{% endif %}

					{% if p.template == 'videos' %}
					<div data-featherlight-gallery data-featherlight-filter="a" class="gallery">
						<a href="#" data-featherlight="#fl3">
							{% set first_image = p.media.images|first %}
							<div>
								<img src="{{first_image.url}}" alt="">
							</div>
							<span>> Voir la vidéo</span>
							<span class="video-title">{{p.header.videoTitle}}</span>
						</a>

						<iframe class="lightbox" src="{{p.header.videoUrl}}" id="fl3" style="border:none;" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" height="400" width="500"></iframe>

						{{p.content}}
					</div>
					{% endif %}
				</article>
			{% endfor %}
		</div>
	</section>

	<aside class="one-quarter">
		<div>
			<nav>
				<a href="{{page.parent.url}}">Présentation</a>
				{% for p in page.parent.children %}
				{% set current_page = (p.active) ? 'selected' : '' %}
				<a href="{{ p.url }}" class="{{ current_page }}">
					{{ p.title }}
				</a>
				{% endfor %}
			</nav>

			{% if page.parent.header.transmission != ""%}
			<div class="more-infos">
				<h3>Transmission</h3>
				{{page.parent.header.transmission}}
			</div>
			{% endif %}

			{% if page.parent.header.creation != ""%}
			<div class="more-infos">
				<h3>Création</h3>
				{{page.parent.header.creation}}
			</div>
			{% endif %}

		</div>
	</aside>
</div>


{% endblock %}

{% endembed %}
