{% embed 'partials/base.html.twig' %}

{% block content %}

<div class="grid has-gutter-l">
	<div class="three-quarters">
		<h1>{{page.title}}</h1>
	</div>
</div>

<div class="project-wrapper grid has-gutter-l">
	<section class="three-quarters project-content">

		{% set content = page.content|slice(page.summary|length) %}

		{% if page.children.count() > 0 %}
			{{ content }}
		{% else %}
			<h2>{{page.header.subTitle}}</h2>
			{{ content }}
		{% endif %}
	</section>

	<aside class="one-quarter">
		<div>
			<nav>

				{% if page.children.count() > 0 %}
				<a href="{{ page.parent.url }}" class="selected">Présentation</a>
				{% for p in page.children.routable %}
				{% set current_page = (p.active) ? 'selected' : '' %}
				<a href="{{ p.url }}" class="{{ current_page }}">
					{{ p.title }}
				</a>
				{% endfor %}
				{% else %}
				<a href="{{ page.parent.url }}">Présentation</a>
				{% for p in page.parent.children.routable %}
				{% set current_page = (p.active) ? 'selected' : '' %}
				<a href="{{ p.url }}" class="{{ current_page }}">
					{{ p.title }}
				</a>
				{% endfor %}
				{% endif %}
			</nav>

		</div>
	</aside>
</div>


{% endblock %}

{% endembed %}
