{% block footer %}
<footer>
    <nav>
        <a href="{{ base_url }}/presse">Presse</a>
        <a href="{{ base_url }}/contact">Contact</a>
        <a href="{{ base_url }}/partenaires">Partenaires</a>
        <a href="{{ base_url }}/mentions-legales">Mentions légales</a>

        <a href="https://www.facebook.com/PULXCOLLECTIF/" target="_blank"><img src="{{ theme_url }}/images/facebook.svg" alt=""></a>
        <a href="https://www.instagram.com/collectif.pulx/" target="_blank"><img src="{{ theme_url }}/images/instagram.svg" alt=""></a>
        <a href="https://vimeo.com/pulxelsadecaudin" target="_blank"><img src="{{ theme_url }}/images/vimeo.svg" alt=""></a>

    </nav>
</footer>
{% endblock %}
