{% block header %}
<header>
    <div class="top-bar">
        <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
            <img src="{{ url('theme://images/logo-pulx.svg') }}" alt="PulX">
        </a>

        {% block header_navigation %}
        <nav class="main-nav">
            {% include 'partials/_navigation.html.twig' %}
        </nav>
        {% endblock %}

        <button type="button" class="mobile-menu-opener">Menu</button>
    </div>

    <img src="{{ url('theme://images/header-line.png') }}" alt="">

    <nav class="projects-nav">
        {% include 'partials/_projects-nav.html.twig' %}
    </nav>

    <nav class="mobile-nav">
        <div class="top">
            <a class="logo" href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ url('theme://images/logo-pulx.svg') }}" alt="PulX">
            </a>

            <button class="mobile-menu-closer">Fermer</button>
        </div>

        <div class="main">
            {% include 'partials/_navigation.html.twig' %}
        </div>

        <img src="{{ url('theme://images/header-line.png') }}" alt=""> {% include 'partials/_projects-nav.html.twig' %}
    </nav>

</header>
{% endblock %}