{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        {% if p.children.visible.count > 0 %}
                <a href="{{ p.url }}" class="has-children {{ current_page }}">
                    {{ p.menu }}
                </a>
                <nav class="sub-menu">
                    {{ _self.loop(p) }}
                </nav>
        {% else %}
                <a href="{{ p.url }}" class="{{ current_page }}">
                    {{ p.menu }}
                </a>
        {% endif %}
    {% endfor %}
{% endmacro %}


{% if theme_config.dropdown.enabled %}
    {{ _self.loop(pages) }}
{% else %}
    {% for page in pages.children.visible %}
        {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
        <li class="{{ current_page }}">
            <a href="{{ page.url }}">
                {{ page.menu }}
            </a>
        </li>
    {% endfor %}
{% endif %}
